/* color accent: #2196F3;
color title: #212121;
color h1: #FFFFFF;
color text: #757575;
background: #FFFFFF;
background hero: #2F303A;

*/

html {
	box-sizing: border-box;
}
*,
*::before *::after {
	box-sizing: inherit;
}
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--button-background-color: #f5f4fa;
	--section-bacground-color: #2f303a;
}

/*index*/

body {
	font-family: Roboto, sans-serif;
	background: var(--primary-white-color);
	color: var(--primary-text-color);
	font-size: 16px;
	margin: 0 auto;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	display: block;
	text-decoration: none;
}

/*header*/

.page-head .container {
	display: flex;
	align-items: center;
}
.page-head {
	border-bottom: 1px solid #ececec;
}
.logo {
	font-family: Raleway;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;
}
.logo-title {
	color: var(--accent-color);
	font-family: Raleway;
	padding-top: 24px;
	padding-bottom: 25px;
}
.site-nav {
	margin-right: auto;
}
.item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;
}
.menu-item .item:not(:last-child) {
	margin-right: 50px;
}
.link {
	text-decoration: none;
	display: block;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item .link {
	color: var(--title-text-color);
}
.menu-item .link:hover,
.menu-item .link:focus {
	color: var(--accent-color);
}
.menu-item .link.current {
	color: var(--accent-color);
}
.current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
	display: none;
}
.current::after {
	display: block;
}
/*contacts*/

.mail-icon {
	width: 16px;
	height: 12px;
	vertical-align: middle;
	align-items: center;
	fill: var(--primary-text-color);
	margin-right: 10px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-icon {
	width: 10px;
	height: 16px;
	vertical-align: middle;
	align-items: center;
	fill: var(--primary-text-color);
	margin-right: 10px;
	margin-left: 30px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link {
	color: var(--primary-text-color);
}
.contacts-item .link:hover,
.contacts-item .link:focus {
	color: var(--accent-color);
}
.link:hover .mail-icon,
.link:focus .mail-icon {
	fill: var(--accent-color);
}

.link:hover .phone-icon,
.link:focus .phone-icon {
	fill: var(--accent-color);
}

/* hero */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	background: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 100%), url(../images/Img_hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.hero-title {
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
}
.button-link {
	display: block;
	font-weight: 700;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	margin: 0 auto;
	border-radius: 4px;
	padding: 10px 32px;
	border-color: transparent;
}

/*features*/
.section-features {
	display: flex;
	flex: wrap;
	padding-top: 94px;
	padding-bottom: 94px;
}
.features-list::before {
	display: block;
	height: 120px;
	background-size: 70px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-top: 0;
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}
.features-list:nth-child(1)::before {
	background-image: url(../images/icon/icon1.svg);
}
.features-list:nth-child(2)::before {
	background-image: url(../images/icon/icon2.svg);
}
.features-list:nth-child(3)::before {
	background-image: url(../images/icon/icon3.svg);
}
.features-list:nth-child(4)::before {
	background-image: url(../images/icon/icon4.svg);
}
.features-list {
	width: calc((100% - 3 * 30px) / 4);
	margin-right: 30px;
}
.features-list:last-child {
	margin-right: 0;
}
.features-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.features-list .content {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin: 0;
}
/*work*/
.section-work {
	padding-bottom: 94px;
	text-align: center;
}
.work-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
}
.work-card {
	display: flex;
	flex: wrap;
	margin: 0 auto;
}
.thumb {
	position: relative;
	width: calc((100% - 2 * 30px) / 3);
	margin-right: 30px;
}

.thumb:first-child {
	margin-left: 0;
}
.thumb:last-child {
	margin-right: 0;
}
.thumb > .card-title {
	position: absolute;
	margin: 0;
	height: 70px;
	width: 100%;
	background: rgba(47, 48, 58, 0.8);
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
}
.card-title {
	display: flex;
	align-items: center;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
}
.card-title p {
	margin: 0 auto;
}
/* team */

.section-team {
	padding-bottom: 94px;
	padding-top: 94px;
	background-color: var(--button-background-color);
}
.team-list-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0;
	margin-bottom: 50px;
}
.team-list {
	display: flex;
	flex: wrap;
}
.team-card {
	width: calc((100% - 30px * 3) / 4);
	text-align: center;
	margin-right: 30px;
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-card:last-child {
	margin-right: 0;
}
.name-title {
	color: var(--title-text-color);
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0;
	margin-top: 30px;
}
.profession {
	margin-top: 10px;
	margin-bottom: 30px;
}
.team-social-icon-list {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.team-social-icon-item:not(:last-child) {
	margin-right: 10px;
}
.team-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-position: center;
	background-size: contain;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: #afb1b8;
}
.team-social-link:hover,
.team-social-link:focus {
	background-color: var(--accent-color);
	fill: var(--primary-white-color);
}

.team-social-icon {
	width: 20px;
	height: 20px;
}

/*users*/
.our-users {
	color: var(--title-text-color);
	font-weight: 700;
	display: flex;
	padding-top: 94px;
	padding-bottom: 94px;
}
.users-title {
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0;
	margin-bottom: 50px;
}
.users-card {
	display: flex;
	justify-content: center;
	align-items: center;
}
.users-card:not(:last-child) {
	margin-right: 30px;
}
.users-link {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	width: 170px;
	height: 90px;
	border: solid 1px;
	background-position: center;
	background-size: contain;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.users-link:hover .users-icon {
	fill: var(--accent-color);
}
.users-link:hover {
	border-color: var(--accent-color);
}
.users-icon {
	fill: #afb1b8;
}

/*portfolio*/
.portfolio {
	padding-top: 94px;
}
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter-list {
	margin-right: 8px;
	margin-bottom: 50px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list:last-child {
	margin-right: 0;
}
button {
	color: var(--title-text-color);
	background-color: var(--button-background-color);
	border-color: transparent;
	border-radius: 4px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	text-align: center;
	text-decoration: none;
	padding: 6px 22px;
	cursor: pointer;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list button:hover,
.filter-list button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border-color: transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*projects*/
.box {
	position: relative;
	width: 370px;
	height: 294px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.overlay {
	position: absolute;
	background: rgba(33, 150, 243, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	transform: translatey(100%);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
	color: var(--primary-white-color);

	margin: 0;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
}
.box:hover .overlay {
	transform: translatey(0);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 94px;
}
.project-card {
	width: calc((100% - 2 * 30px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid #eeeeee;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover,
.project-card:focus {
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card:nth-child(3n) {
	margin-right: 0;
}

.project-card:nth-last-of-type(-n + 3) {
	margin-bottom: 0;
}
.card-text {
	display: block;
	padding: 20px 24px;
}
.project-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
	margin: 0;
	margin-bottom: 4px;
}
.project-type {
	line-height: 1.87;
	letter-spacing: 0.03em;
	text-align: left;
	margin: 0;
	color: var(--primary-text-color);
}
.project-card a {
	width: 100%;
}
/*footer*/
footer {
	padding-bottom: 60px;
	padding-top: 60px;
	background: var(--section-bacground-color);
}
.flexbox {
	display: flex;
	align-items: baseline;
}
.footer-contact {
	margin: 0;
	margin-right: 70px;
}
.logo-footer {
	font-family: Raleway;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}
.logo-title-footer {
	color: var(--accent-color);
	font-weight: 700;
	font-size: 26px;
	font-family: Raleway;
}
address {
	display: block;
	margin: 0;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	font-style: normal;
	text-decoration: none;
	margin-top: 20px;
}
address .link {
	margin-top: 9px;
}
.logo-footer,
.address {
	color: var(--primary-white-color);
}
.address .contact-item {
	color: rgba(255, 255, 255, 0.6);
}

/*social-contact*/
.social-contact {
	margin-right: 93px;
}
.invitation-title,
.sbr-title {
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}
.social-icon-list {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	background-position: center;
	background-size: contain;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
	background-color: var(--accent-color);
}
.social-icon {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}

/*footer-form*/
.footer-form p {
	margin-bottom: 20px;
	margin: 0;
}
.footer-form {
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: #ffffff;
	text-transform: uppercase;
}

.footer-form-input {
	width: 358px;
	height: 50px;
	background: var(--section-bacground-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	font-family: Roboto;
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	line-height: 1.25;
	margin-right: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
}
.footer-btn {
	position: absolute;
	content: "";
	width: 200px;
	height: 50px;
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	color: var(--primary-white-color);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bth-icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	align-items: center;
	fill: var(--primary-white-color);
	background: var(--accent-color);
	margin-left: 10px;
}
/*modal*/
.backdrop .is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
}
.is-hidden {
	top: -100%;
	transform: translatex(-50%) scale(0.1);
	visibility: hidden;
}
.modal {
	position: absolute;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	cursor: pointer;
}
.btn-closed {
	position: absolute;
	content: "";
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	right: 8px;
	top: 8px;
	background: var(--primary-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
	width: 11px;
	height: 11px;
}
.btn-closed:hover,
.btn-closed:focus {
	fill: var(--accent-color);
}

/*form*/
.form {
	width: 528px;
	padding: 0px 40px 40px 40px;
	margin: 0 auto;
}
.form-title {
	display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin: 0;
	margin-top: 40px;
	margin-bottom: 12px;
}
.form-field {
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
	position: relative;
	margin: 0;
}

.form-label {
	margin: 0;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
	margin-bottom: 4px;
}
.form-input {
	position: relative;
	width: 448px;
	height: 40px;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 42px;
	background: var(--primary-white-color);
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
	border-color: var(--accent-color);
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
	fill: var(--accent-color);
}
.form-input:focus {
	outline: none;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	cursor: pointer;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-25%);
	left: 12px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.comment {
	flex-direction: column;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 0;
	resize: none;
}
.form-checkbox {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-bottom: 30px;
	justify-content: center;
}
.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.lable {
	margin: 0;
	display: inline-block;

	margin-top: 20px;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.agreement {
	margin: 0;
	margin-left: 21px;
	color: var(--primary-text-color);
}
.agr-link {
	text-decoration: underline;
	color: var(--accent-color);
}
.icon {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	margin-top: 23px;
	margin-left: 14px;
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 2px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon {
	border-color: var(--accent-color);
	background-color: var(--accent-color);
	background-image: url("../images/icon/check-mark.svg");
	background-size: contain;
	background-position: center;
	background-origin: border-box;
}

.btn-submit {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 10px 55px;
	text-align: center;
	width: 200px;
	height: 50px;
	background: var(--accent-color);
	color: var(--primary-white-color);
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	border-color: transparent;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	cursor: pointer;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
