.features {
	display: flex;
	flex: wrap;
	padding-top: 94px;
	padding-bottom: 94px;
}
.features__item::before {
	display: block;
	height: 120px;
	background-size: 70px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-top: 0;
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}
.features__item:nth-child(1)::before {
	background-image: url(../images/icon/icon1.svg);
}
.features__item:nth-child(2)::before {
	background-image: url(../images/icon/icon2.svg);
}
.features__item:nth-child(3)::before {
	background-image: url(../images/icon/icon3.svg);
}
.features__item:nth-child(4)::before {
	background-image: url(../images/icon/icon4.svg);
}
.features__item {
	width: calc((100% - 3 * 30px) / 4);
	margin-right: 30px;
}
.features__item:last-child {
	margin-right: 0;
}
.features__item .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.features__list .content {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin: 0;
}
