.footer__logo {
	color: $primary-white-color;

	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}
.footer__logo-title {
	color: $accent-color;

	font-weight: 700;
	font-size: 26px;
	font-family: Raleway;
}
