.footer__form {
	font-family: $font-family;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.14;
	color: $primary-white-color;
	text-transform: uppercase;

	& .footer__text {
		margin-bottom: 20px;
		margin: 0;
	}

	@media screen and (max-width: 1199px) {
		align-items: center;
	}
}

.footer__form-input {
	font-family: Roboto;
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	line-height: 1.25;

	background: $section-bacground-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	width: auto;
	margin-bottom: 20px;

	@media screen and (min-width: 480px) and (max-width: 1199px) {
		width: 450px;
		height: 50px;
	}

	@include for-size(desktop) {
		width: 358px;
		height: 50px;
		margin: 0;
		margin-right: 12px;
	}
}
