.form {
	width: 100%;
	margin: 0 auto;
}
.form__title {
	display: block;
	text-align: center;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: $title-text-color;
}
.form__field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	margin: 0 auto;
}

.form__label {
	margin: 0;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: $primary-text-color;
	margin-bottom: 4px;
}
.form__input {
	position: relative;
	width: 448px;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 42px;
	background: $primary-white-color;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
	transition: $transition;

	&:hover,
	&:focus {
		border-color: $accent-color;
	}

	&:hover + .form__input-icon,
	&:focus + .form__input-icon {
		fill: $accent-color;
	}
	&:focus {
		outline: none;
		border: 1px solid $accent-color;
		border-radius: 4px;
		cursor: pointer;
		transition: $transition;
	}
	&::placeholder {
		font-size: 12px;
		line-height: 1.2;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}
.form__input-icon {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-25%);
	left: 12px;
	transition: $transition;
}
.comment {
	flex-direction: column;
	height: 120px;
	padding: 12px 16px;
	margin: 0;
	resize: none;
}
.form__checkbox {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-bottom: 30px;
	justify-content: center;
}
.form__visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	&:checked + .form__checkbox-icon {
		border-color: $accent-color;
		background-color: $accent-color;
		background-image: url("../images/icon/check-mark.svg");
		background-size: contain;
		background-position: center;
		background-origin: border-box;
	}
}
.form__checkbox-lable {
	margin: 0 auto;
	display: inline-block;

	margin-top: 20px;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.form__agreement {
	margin: 0;
	margin-left: 14px;
	color: $primary-text-color;
}
.form__agreement--link {
	display: inline-block;
	text-decoration: underline;
	color: $accent-color;
}
.form__checkbox-icon {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	margin-top: 23px;
	margin-left: 12px;
	width: 15px;
	height: 14px;
	border: 2px solid #212121;
	border-radius: 2px;
	transition: $transition;
}
