%contacts-icon {
	vertical-align: middle;
	align-items: center;
	fill: $primary-text-color;
	transition: $transition;
	margin-right: 10px;
}
.contacts__item {
	@extend %text-style-normal;
	line-height: 1.2;
	color: $primary-text-color;
}

.contacts__mail-icon {
	width: 16px;
	height: 12px;
	@extend %contacts-icon;
}
.contacts__phone-icon {
	width: 10px;
	height: 16px;
	@extend %contacts-icon;
	margin-left: 30px;
}
.contacts__link {
	color: $primary-text-color;

	&:hover,
	&:focus {
		color: $accent-color;
	}
	&:hover .contacts__mail-icon,
	&:focus .contacts__mail-icon {
		fill: $accent-color;
	}

	&:hover .contacts__phone-icon,
	&:focus .contacts__phone-icon {
		fill: $accent-color;
	}
}
