.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);

	.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $transition;
	}
}
.is-hidden {
	top: -100%;
	transform: translatex(-50%) scale(0.1);
	visibility: hidden;
}
.modal {
	position: absolute;
	height: 581px;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	background: $primary-white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	cursor: pointer;

	padding: 0px 40px 40px 40px;
}
