.team__social-icon-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team__social-icon-item {
	margin-bottom: 24px;

	&:not(:last-child) {
		margin-right: 10px;
	}
	@include for-size(desktop) {
		margin-bottom: 30px;
	}
}
.team__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	width: 44px;
	height: 44px;

	border-radius: 50%;
	background-position: center;
	background-size: contain;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill $transition;
	fill: #afb1b8;

	@include for-size(desktop) {
		&:hover,
		&:focus {
			background-color: $accent-color;
			fill: $primary-white-color;
		}
	}
}
.team__social-icon {
	width: 20px;
	height: 20px;
}
