%display-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
%text-style-bold {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
}

%text-style-normal {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
}
%text-style-title {
	color: $title-text-color;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.03em;
}
%button-border {
	border-color: transparent;
	border-radius: 4px;
}
%button-text {
	font-family: $font-family;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	text-align: center;
}
%button-color {
	background: $accent-color;
	color: $primary-white-color;
}