.features {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;

	@include for-size(desktop) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.features__title {
	color: $title-text-color;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 30px;

	@include for-size(tablet) {
		text-align: left;
		margin-top: 0;
	}
	@include for-size(desktop) {
	}
}

.features__list {
	@include for-size(tablet) {
		display: flex;
		flex-wrap: wrap;
	}

	.features__content {
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.03em;
		line-height: 1.7;
		color: $primary-text-color;
		margin: 0;
	}
}

.features__item {
	display: block;
	margin-bottom: 30px;

	@include for-size(tablet) {
		width: calc((100% - 30px) / 2);
		margin-right: 30px;
		&:nth-last-of-type(-n + 2) {
			margin-bottom: 0;
		}
		&:nth-child(2n) {
			margin-right: 0px;
		}
	}

	@include for-size(desktop) {
		margin-bottom: 0;
		width: calc((100% - 3 * 30px) / 4);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&::before {
		display: block;
		height: 120px;
		background-size: 450px;
		background: #f5f4fa;
		border-radius: 4px;
		margin-top: 0;
		content: "";
		background-repeat: no-repeat;
		background-position: center;

		@include for-size(tablet) {
			height: 120px;
			background-size: 354px;
			margin-bottom: 30px;
		}

		@include for-size(desktop) {
			height: 120px;
			background-size: 270px;
		}
	}

	&:nth-child(1)::before {
		background-image: url(../images/icon/icon1.svg);
	}
	&:nth-child(2)::before {
		background-image: url(../images/icon/icon2.svg);
	}
	&:nth-child(3)::before {
		background-image: url(../images/icon/icon3.svg);
	}
	&:nth-child(4)::before {
		background-image: url(../images/icon/icon4.svg);
	}
}
