.footer {
	padding-bottom: 60px;
	padding-top: 60px;
	background: $section-bacground-color;
}
.flexbox {
	display: flex;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
	@media screen and (min-width: 1600px) {
		align-items: baseline;
	}
}
.footer__contact {
	margin: 0;
	@media screen and (max-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 1600px) {
		margin-right: 70px;
	}
}

.footer__address {
	color: $primary-white-color;
	display: block;
	margin: 0;
	margin-top: 20px;
	@extend %text-style-normal;
	line-height: 1.7;
	text-decoration: none;
	font-style: normal;

	@media screen and (max-width: 767px) {
		text-align: center;
	}

	.contact-link {
		margin-top: 9px;
	}
	.contact-item {
		color: rgba(255, 255, 255, 0.6);
	}
}

.footer__social-contact {
	@media screen and (max-width: 767px) {
		margin-top: 60px;
		align-items: center;
	}

	@media screen and (min-width: 1600px) {
		margin-right: 93px;
	}
}

.footer__text {
	font-family: $font-family;
	@extend %text-style-bold;
	line-height: 1.14;
	color: $primary-white-color;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 1600px) {
	}
}
.footer__sbr {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 60px;
	}
}
