.footer {
	padding-bottom: 60px;
	padding-top: 60px;
	background: $section-bacground-color;
}
.flexbox {
	display: flex;
	align-items: baseline;
}
.footer__contact {
	margin: 0;
	margin-right: 70px;
}

.footer__address {
	color: $primary-white-color;
	display: block;
	margin: 0;
	margin-top: 20px;

	@extend %text-style-normal;
	line-height: 1.7;
	text-decoration: none;

	.contact-link {
		margin-top: 9px;
	}
	.contact-item {
		color: rgba(255, 255, 255, 0.6);
	}
}

.footer__social-contact {
	margin-right: 93px;
}

%placeholder-text {
	font-family: $font-family;
	@extend %text-style-bold;
	line-height: 1.14;
	color: $primary-white-color;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}
.footer__text {
	@extend %placeholder-text;
}
