.users {
	display: flex;
	padding-top: 94px;
	padding-bottom: 94px;
}
.users__title {
	margin: 0;
	margin-bottom: 50px;
	@extend %text-style-title;
	line-height: 1.2;
	text-align: center;
}
.users__card {
	@extend %display-flex;

	&:not(:last-child) {
		margin-right: 30px;
	}
}
.users__link {
	@extend %display-flex;
	content: "";
	width: 170px;
	height: 90px;
	border: solid 1px;
	background-position: center;
	background-size: contain;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: $transition;

	&:hover {
		border-color: $accent-color;
	}
	&:hover .users__icon {
		fill: $accent-color;
	}
	& .users__icon {
		fill: #afb1b8;
	}
}
