.users {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1600px) {
		display: flex;
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.users__title {
	margin: 0;
	margin-bottom: 30px;
	color: $title-text-color;
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 0.03em;
	line-height: 1.2;
	text-align: center;

	@media screen and (min-width: 1600px) {
		font-size: 36px;
		margin-bottom: 50px;
	}
}
.users__list {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 1600px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.users__card {
	width: calc((100% - 30px) / 2);
	margin: 0;
	margin-bottom: 30px;

	&:nth-last-of-type(-n + 3) {
		margin-bottom: 0;
	}
	&:nth-child(2n + 1) {
		margin-right: 30px;
	}
	@media screen and (min-width: 1600px) {
		margin-bottom: 30px;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.users__link {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	width: 210px;
	height: 90px;
	border: solid 1px;
	background-position: center;
	background-size: contain;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: $transition;

	@media screen and (min-width: 1600px) {
		width: 170px;
		height: 90px;
	}

	&:hover {
		border-color: $accent-color;
	}
	&:hover .users__icon {
		fill: $accent-color;
	}
	& .users__icon {
		fill: #afb1b8;
	}
}
